<!--app-lista-cursos></app-lista-cursos-->
<!--app-property-binding></app-property-binding-->
<!--app-event-binding></app-event-binding-->
<!--app-two-way-data-binding></app-two-way-data-binding-->
<!--app-input-property [mensagem]="mensagem"></app-input-property-->
<!--contador [valor]="valor" (valorAtual)="getValor($event)"></contador-->
<!--app-viewchild></app-viewchild-->
<!--app-ngif></app-ngif-->
<!--app-ngswitch></app-ngswitch-->
<!--app-ngfor></app-ngfor-->
<!--app-ng-class></app-ng-class-->
<!--app-ng-style></app-ng-style-->
<!--app-operador-elvis></app-operador-elvis-->
<!-- app-ng-content>
    <div class="titulo">ng-content</div>
    <div class="explicacao">
        Estou passando o conteúdo diretamente dentro da tag do componente app-ng-content. 
        Não preciso mais passar através de uma Input property. Este conteúdo será reproduzido
        dentro do componente substituindo a tag ng-content. Onde o valor da propriedade "select"
        for igual ".explicacao". Enquanto a se a propriedade tiver o valor de ".titulo" irá substituir
        pelo titulo passado na div logo acima.
    </div>
</app-ng-content -->
<!--p fundoAmarelo>Testando diretiva de atributo personalizada</p-->

<!-- 
<p highlightMouse *ngIf="exibirConteudo">Olá Mundo!</p>
<p Highlight defaultColor="green" defaultColorText="yellow" *ngElse="exibirConteudo">Diretiva com input properties</p>
<button (click)="onClick()">Exibir/Escondender</button>
-->
<!--listar-cursos></listar-cursos>
<ultimo-curso-criado></ultimo-curso-criado>
<criar-cursos></criar-cursos>-->
