<p>
   A diretiva [ngClass] tem como objetivo agregar no quesito legibilidade. 
   Tem o mesmo objetivo do binding de classes, entretanto melhorando legibilidade.
</p>

<p>
    <i [ngClass]="{
        'bi bi-moon-stars' : !preencherLua,
        'bi-moon-stars-fill' : preencherLua}"
       (click)="onClick()">
    </i>
</p>

<!--
    <p>
        <i [ngClass]="{
            'bi bi-moon-stars' : !preencherLua,
            'bi-moon-stars-fill' : preencherLua}"
        (click)="onClick()">
        </i>
    </p>

    A diretiva ngClass recebe um objeto com os nomes das classes que deverão ser aplicadas
    juntamente com a expressão que vai permitir que as mesmas sejam aplicadas ao elemento html/angular.

    ngClass= {
        'nome-da-classe' : expressao
    }
-->
