<h2>Event Binding</h2>
<p>
    O Event bindig é utilizado para escutarmos eventos realizados pelas tags no template do componente. <br>
    Aqui estão alguns exemplos de como implementa-lo: <br>

    <!-- Escutando o evento de click do botão.-->
    <button class="btn btn-primary" (click)="clickButton()">Me Clique!</button> <br>
    <label for="texto">Texto Digitado</label> <br>
    <input type="text" disabled [value]="textoInput"> <br>
    <!-- Escutando o evento onkeyup do input-->
    <input type="text" (keyup)="getTextoInput($event.target.value)">
</p>
<div>
    O evento podem ser "escutados" de várias formas. <br>
    Exemplos:
    <ul>
        <li *ngFor="let forma of formasDeEventBinding">{{ forma }}</li>
    </ul>
    <p>
        A variável $event.target.value pode ser substituído por apenas uma variável de ambiente definida no elemento hmtl <br>
        como mostrado na 3º forma.
    </p>
</div>
