<div style="margin-top: 10px;">
    <h2>Interpolação</h2>
    <p>String renderizada com a interpolação: {{ nomeDoCurso }}</p>
    <p>
        Podemos também utilizar a interpolação para resolver operações arítméticas: Soma, subtração, divisão e multiplicação <br>
        Utilização da interpolação em operações lógicas, condicionais e retornos de métodos
    </p>
    <p>Exemplos:</p>
    <ul>
        <li>Soma: 2 + 2 = {{ 2+2 }}</li>
        <li>Subtração: 2 - 2 = {{ 2-2 }}</li>
        <li>Multiplicação: 2 x 2 = {{ 2*2 }}</li>
        <li>Divisão: 2 / 2 = {{ 2/2 }}</li>
        <li>2 > 2: {{ 2>2 }}</li>
        <li>Retorno do método getCurso(): {{ getCurso() }}</li>
    </ul>
    <blockquote style="background-color: silver;">
        Obs: A interpolação também é um tipo de property binding. Entretanto é mais utilizada <br>
        quando não se não existe uma propriedade no elemento. Ou seja utilizada mais em tags que<br>
        possuem fechamento, por exemplo a tag html "p".
    </blockquote>
</div>

<div>
    <h2>Property Binding</h2>
    <p>
        Como dito acima, a interpolação é utilizada mais em tags que possuem fechamento. Agora para aquelas <br>
        que não possuem existe o propery binding.
    </p>
    <p>Exemplos</p>
    Para renderizar uma imagem podemos realizar o property binding da seguinte forma: <br>
    {{ estiloDePropertyBinding[0] }} <br>
    <img [src]="urlDaImagem" [alt]="descricaoDaImagem"> <br>
    {{ estiloDePropertyBinding[1] }} <br>
    <img src="{{ urlDaImagem }}" alt="{{ descricaoDaImagem }}">
</div>
